@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Add this CSS animation to slide the images from right to left */
/* Apply the animation to the CompanySection */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.company-section {
  animation: slide 30s linear infinite; /* Adjust the duration as needed */
}
